/*
var {p: hsl(213deg 85% 97%);}
var {s: hsl(233deg 36% 38%);}
*/
html {
    box-sizing: border-box;
} 
*::after, ::before {
    box-sizing: inherit;
}
    
body {
    height: 100vh;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ccb5d5;/* hsl(213deg 85% 97%);*/
    user-select: none;

}
main {
    max-width: 500px;
    width: 100%;
    height: 500px;
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 0 0 2em hsl(233, 16%, 10%);
}
article {
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #fb9c5c;/*hsla(162, 26%, 93%, 0.801)*/
}
article h1 {
    margin-bottom: 8px;
}
picture img {
    width: 70px;
    clip-path: circle(50%);
}


/* prueba */
form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  fieldset {
    border: 0;
    border-top: solid 1px;
    }
    legend {
        margin-bottom: 15px;
    }

  
  input[type=email], [type=password] {
    min-width: 45%;
    margin-bottom: 10px;
    border: 1px solid #3c3c3c  ;/*#ccc;*/
    border-radius: 4px;
    padding: 10px;
  }
  input[type=submit] {
    width: 60%;
    background-color: #3c3c3c;/* #04AA6D;*/
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
/* fin prueba*/
@media screen and (max-width: 600px) {
    label,
    input[type=text],
    input[type=submit],
    select, textarea {
      flex: 100%;
      min-width: 100%;
    }
}